
.calendar {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Calendar view */

.calendar_view {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    padding: 16px;
    width: 500px;

    background: white;
    border: 1px solid rgba(0,0,0,.1);
}

.calendar_view .header {
    background: black;
    color: white;
}

.calendar_view button {
    border-radius: 0;
    border: 0;
}

.calendar_view .table_wrapper {
    height: 324px;
    margin: 0;
    padding: 0;
}

.calendar_view .calendar_view_options {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 380px;
    margin-top: 12px;
}

.calendar_view .calendar_view_options button {
    width: 100px;
    height: 40px;
    margin: 5px;
}

.calendar_view .calendar_view_options button:hover {
    background: black;
    color: white;
}

.calendar_view .tagged {
    background: rgba(255,0,0,.3);
}

/* Calendar details */

.calendar_details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    padding: 16px;
    width: 500px;

    background: white;
    border: 1px solid rgba(0,0,0,.1);
}

th,tr,button {
    width: 50px;
    height: 50px;
}

.calendar_display_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    width: 100%;
    margin-bottom: 20px;
}

.calendar_display_options div {
    height: 30px;
    margin: 0;
    padding: 0;
}

.calendar_display_options div button {
    min-width: 100px;
}

.calendar_display_options button {
    height: 30px;
    border: 0;
}

.calendar_details .deadline {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 0;
}

.calendar_details ul, li {
    margin: 0;
    padding: 0;
}

.calendar_details ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: column wrap;
}

.calendar_details .deadline button {
    border: 0;
    width: 150px;
    height: 25px;
}

.calendar_details .deadline button:hover {
    background: black;
    color: whitesmoke;
}

.calendar_details .deadline {
    margin-bottom: 10px;
    padding: 12px;
}

.deadline_info {
    margin-bottom: 7px;
}

.deadline_options {
    margin: 0;
    padding: 0;
}

/* create_deadline */

.create_deadline {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0,0,0,.8);
}

.create_deadline .create_wrapper {
    background: whitesmoke;
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 5px rgba(255,255,255,.2);
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_deadline .create_wrapper .create_selection {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_deadline button {
    background: black;
    color: whitesmoke;
    border: 0;
    width: 100px;
    height: 40px;
    margin: 4px;
}

.create_deadline .create_wrapper #singleTermForm {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column wrap;
    padding: 5px;
    border: 1px solid black;
}
.create_deadline .create_wrapper #singleTermForm * {
    margin: 2px;
}

.create_deadline .create_wrapper #multipleTermForm {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column wrap;
    padding: 5px;
    border: 1px solid black;
}
.create_deadline .create_wrapper #multipleTermForm * {
    margin: 3px;
}

