
.enrollment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-size: 1.2em;
}

.enrollment_view {
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 480px;
}

.enrollment_view {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column wrap;
}

.enrollment_view * {
    margin-bottom: 6px;
}

.enrollment_view *:last-child {
    margin: 0;
}

.enrollment_view input,textarea {
    font-size: .93em;
    width: 80%;
}

.enrollment_view textarea {
    resize: none;
}

.enrollment_view h3 {
    margin: 0 0 6px;
    padding: 0;
    font-size: 1em;
}

.target_step {
    color: crimson;
}

.enrollment_view small {
    margin: 0 0 6px;
    padding: 0;
    font-size: .9em;
}

.enrollment_view p {
    margin: 0 0 6px;
    padding: 0;
    font-size: .9em;
    color: brown;
}

.enrollment_view .error {
    color: crimson;
    font-size: .9em;
}

.enrollment_view .nbtn {
    background: whitesmoke;
    border: 0;
    font-size: .9em;
    padding: 6px;
}

.choose_deadline_view {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
}

#hselect, #dselect {
    width: 250px;
    font-size: 1em;
}

#hselect {
    height: 100px;
}

.ctrlaria {
    color: darkcyan;
    font-weight: 900;
}

.enrollment_view .group {
    padding: 12px;
}

.enrollment_view .group small {
    color: darkcyan;
}

.object_view {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column wrap;
}

.object_view input {
    width: 80%;
}

#book,#magazine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 400px;
    padding: 12px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 13px;
}

#book div,#magazine div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#magazine div button{
 width: 50%;
    margin: 0 2px 0 2px;
}

#book div button{
    width: 50%;
    margin: 0 2px 0 2px;
}

#book *,#magazine * {
    margin-bottom: 3px;
}

#book p, #magazine p {
    margin-bottom: 12px;
    text-align: center;
}

.disp_erro {
    padding: 5px;
    color: crimson;
}

#orderlist {
    font-size: 15px;
    margin: 0 0 10px;
}

#orderlist li {
    list-style: decimal;
    margin: 0;
    padding: 0;

}

@media only screen and (max-width: 620px) {
    section {
        padding: 0;
        margin: 0;

    }
    .enrollment {
        margin: 0 !important;
        padding: 0 !important;
        width: 300px;
    }
    .enrollment h1 {
        display: none;
    }
    .enrollment_view {
        border: 0;
    }
    .enrollment_view input {
        width: 50%;
    }
    .enrollment_view .group {
        width: 50%;
    }
    #orderlist {
        font-size: .8em;
    }
    #orderlist li {
        width: 100%;
    }
    #hselect {
        height: 20px;
    }
    .ctrlaria {
        width: 50%;
    }
}