
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-size: 21px;
}

.login form div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4px;
}

.login form div input {
    margin-left: 8px;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 21px;
}

.login form input[type="submit"] {
    border: 0;
    background: whitesmoke;
    float: right;
}

.login form input[type="submit"]:hover {
    background: black;
    color: white;
}

.login form .errorLabel {
    float: right;
    color: red;
}
