
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    font-size: 14px;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-flow: column;
}

header {
    height: 150px;
    padding: 42px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;

    background: whitesmoke;
}

header * {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    padding: 62px;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

section div {
    margin-bottom: 32px;
}

#accpanel {
    position: absolute;
    height: 100px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    transform: translate(calc(100vw - 350px),150px);
    color: black;
    padding: 12px;
}

.message_box {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

footer {
    height: 200px;
    padding: 42px;
    font-size: 1.2em;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background: black;
    color: whitesmoke;
}

footer ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul {
    margin-left: 60px;
}