
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    font-size: 14px;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-flow: column;
}

header {
    height: 150px;
    padding: 42px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;

    background: whitesmoke;
}

header * {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    padding: 62px;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

section div {
    margin-bottom: 32px;
}

.message_box {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

#accpanel {
    padding: 12px;
    float: right;
    background: whitesmoke;
    border-radius: 13px;
}

#accpanel a {
    color: black;
    text-decoration: none;
    margin-right: 3px;
}

#accpanel a:hover {
    color: crimson;
}

#accpanel p {
    margin: 2px 0 2px 0;
}

footer {
    height: 200px;
    padding: 42px;
    font-size: 1.2em;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background: black;
    color: whitesmoke;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
}

footer a:hover {
    color: crimson;
}

footer ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul {
    margin-left: 60px;
}

@media only screen and (max-width: 620px) {
    header {
        font-size: .7em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header h4 {
        display: none;
    }
    section {
        font-size: .8em;
    }
    footer {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
    }
    footer ul {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        margin-bottom: 3px;
    }
    footer li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}